@model  pageLudo.Models.UserHandlingData

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">@Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">@Html.EditorFor(m => m.EmailID, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">@Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Role, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">@Html.EditorFor(m => m.Role, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
        </div>
    </div>

}
<br />
@Html.ActionLink("Back to the list", "AllUsersPage")