@model IEnumerable<pageLudo.Models.UserHandlingData>

<h4>Felhasználók</h4>

@if (Model.Count() > 0)
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.Username)</th>
            <th>@Html.DisplayNameFor(m => m.EmailID)</th>
            @*<th>@Html.DisplayNameFor(m => m.Password)</th>*@
            <th>@Html.DisplayNameFor(m => m.Role)</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => user.Username)</td>
                <td>@Html.DisplayFor(m => user.EmailID)</td>
                <td>@Html.DisplayFor(m => user.Role)</td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { emailID = user.EmailID})
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUser",new { emailID = user.EmailID })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No data in the database!</p>
}

