@model pageLudo.Models.LoginUser

@{
    ViewBag.Title = "Login";
}

<div align="center">
    <br />
    <h4>Login</h4>
    <br />
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()          // CSRF attack
        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            <div class="col-md-12">
                @*@Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.TextBoxFor(a => a.EmailID, new { @class = "form-control", @placeholder = "Email Address" })
                @Html.ValidationMessageFor(a => a.EmailID)
            </div>
        </div>
        <div class="form-group has-success has-warning">
            <div class="col-md-12">
                @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
        </div>

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessage("WrongUNorPW", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-sm-12 col-xs-12">
                <input type="submit" value="Login" class="btn btn-success btn-block"/>
            </div>
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}