@model pageLudo.Models.LoginUser

@{
    ViewBag.Title = "Login";
}

<div align="center">
    <h4>Login</h4>
    <br />
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()          // CSRF attack
        @Html.ValidationSummary(true)
        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <table>
            <tr>
                <td>@Html.Label("Email")</td>
                <td>@Html.TextBoxFor(a => a.EmailID)</td>
                <td>@Html.ValidationMessageFor(a => a.EmailID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="LOG IN" class="btn btn-default"/>
                </td>
                <td></td>
            </tr>
        </table>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}